---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Compétences" description="404 Error — this page was not found">
    <Hero title="Compétences techniques"/>
    <div class="container">
        <div class="competence-langage d-flex p-3 mb-3 " style="border: 1px solid gray; border-radius:10px">
            <div>
            <h4 class="text-center">Langages</h4>
            <ol>
                <li>JAVA</li>
                <li>PHP</li>
                <li>KOTLIN</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
            </ol>
            </div>
            <div class="logos mx-auto my-auto ">
                <img class="logo-langage mx-2 " src="/assets/java.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/php.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/kotlin.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/html.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/css.png" alt="logo du langage" width="80" height="100">
                <img class="logo-langage mx-2 " src="/assets/js.png" alt="logo du langage" width="120" height="100">
  
            </div>
        </div>

        <div class="competence-bdd d-flex p-3 mb-3" style="border: 1px solid gray; border-radius:10px">
            <div>
            <h4 class="text-center">IDE</h4>
            <ol>
                <li>intelliJ IDEA</li>
                <li>Eclipse</li>
                <li>Visual Studio Code</li>
                <li>Android Studio</li>
            </ol>
            </div>
            <div class="logos mx-auto my-auto ">
                <img class="logo-langage mx-2 " src="/assets/intellij.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/eclipse.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/vscode.png" alt="logo du langage" width="180" height="100">
                <img class="logo-langage mx-2 " src="/assets/android.png" alt="logo du langage" width="180" height="100">
            </div>
        </div>

        <div class="competence-bdd d-flex p-3 mb-3" style="border: 1px solid gray; border-radius:10px">
            <div>
            <h4 class="text-center">Base de données</h4>
            <ol>
                <li>Microsoft SQL Server</li>
                <li>PostreSQL</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>H2</li>
            </ol>
            </div>
            <div class="logos mx-auto my-auto ">
                <img class="logo-langage mx-2 " src="/assets/mss.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/postgresql.png" alt="logo du langage" width="100" height="100">
                <img class="logo-langage mx-2 " src="/assets/mysql.png" alt="logo du langage" width="180" height="100">
                <img class="logo-langage mx-2 " src="/assets/mongoDB.png" alt="logo du langage" width="180" height="100">
            </div>
        </div>

        <div class="competence-frameworks d-flex p-3 mb-3" style="border: 1px solid gray; border-radius:10px">
            <div>
            <h4 class="text-center">Frameworks</h4>
            <ol>
                <li>Angular JS</li>
                <li>React JS</li>
                <li>Vue JS</li>
                <li>Spring</li>
                <li>SpringBoot</li>
                <li>Quarkus</li>
            </ol>
            </div>
            <div class="logos mx-auto my-auto ">
                <img class="logo-langage mx-2 " src="/assets/Angular.png" alt="logo du langage" width="80" height="80">
                <img class="logo-langage mx-2 " src="/assets/react.png" alt="logo du langage" width="160" height="100">
                <img class="logo-langage mx-2 " src="/assets/vuejs.png" alt="logo du langage" width="180" height="100">
                <img class="logo-langage mx-2 " src="/assets/spring.png" alt="logo du langage" width="180" height="100">
                <img class="logo-langage mx-2 " src="/assets/springboot.png" alt="logo du langage" width="180" height="100">
                <img class="logo-langage mx-2 " src="/assets/quarkus.png" alt="logo du langage" width="120" height="80">
            </div>
            </div>

            <div class="competence-versionning d-flex p-3 mb-3" style="border: 1px solid gray; border-radius:10px">
                <div>
                <h4 class="text-center">Versionning</h4>
                <ol>
                    <li>Github</li>
                    <li>GitLab</li>
                    <li>Docker</li>
                </ol>
                </div>
                <div class="logos mx-auto my-auto ">
                    <img class="logo-langage mx-2 " src="/assets/git.png" alt="logo du langage" width="160" height="100">
                    <img class="logo-langage mx-2 " src="/assets/gitlab.png" alt="logo du langage" width="160" height="100">
                    <img class="logo-langage mx-2 " src="/assets/docker.png" alt="logo du langage" width="160" height="100">
                </div>
                </div>

                <div class="competence-divers d-flex p-3 mb-3" style="border: 1px solid gray; border-radius:10px">
                    <div>
                    <h4 class="text-center">Divers</h4>
                    <ol>
                        <li>Talend</li>
                        <li>Trello</li>
                        <li>Merise</li>
                        <li>Figma</li>
                    </ol>
                    </div>
                    <div class="logos mx-auto my-auto ">
                        <img class="logo-langage mx-2 " src="/assets/talend.png" alt="logo du langage" width="160" height="100">
                        <img class="logo-langage mx-2 " src="/assets/trello.png" alt="logo du langage" width="160" height="100">
                        <img class="logo-langage mx-2 " src="/assets/Jmerise.png" alt="logo du langage" width="120" height="100">
                        <img class="logo-langage mx-2 " src="/assets/Figma.png" alt="logo du langage" width="120" height="100">
                    </div>
    </div>
</BaseLayout>
