---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Profil</h2>
		<p>Diplômé Concepteur dévelopeur d'application après
			un Master en Automatique et Génie électrique, je cherche un
			nouveau poste de développeur.
			Passionné par le monde du numérique et extrêmement motivé
			pour mettre à profit et développer mes compétences, j'espère
			que mon profil vous donnera l'envie de collaborer avec moi.
			</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Hard Skills</h2>
		
			<ul>
				<li>Programmation Orientée Objet (POO)</li>
				<li>Développement web</li>
				<li>Conception de base de données</li>
				<li>Gestion de projet</li>
			</ul>
		
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Soft Skills</h2>
		
			<ul>
				<li>Autonomie - Curiosité</li>
				<li>Écoute active</li>
				<li>Respect</li>
				<li>Attitude positive</li>
				<li>Intégrité</li>
				<li>Résolution de problèmes</li>
				<li>Responsabilité</li>
			</ul>
		
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p ul{
		color: var(--gray-400);
	}

	ul {
		list-style-type: circle;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
